.parallaxbody {
  overscroll-behavior: none;
}

.parallaxbody {
  font-family: Arial Black, sans-serif;
  text-align: center;
  background: #000;
  height: 200vh;
}
.image1 {
  width: 30vw;
}
.image2 {
  display: none;
}
@media screen and (max-width: 600px) {
  .image1 {
    width: 55vw;
  }
  .image {
    display: none;
  }
  .image2 {
    display: block;
  }
  .parallaxbody {
    font-family: Arial Black, sans-serif;
    text-align: center;
    background: #000;
    height: 0vh;
  }
}
