.prizebody {
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  color: rgba(50, 51, 51, 0.8);
  line-height: 2.6rem;
  margin: 0;
  padding: 0;
}

.prizes-heading {
  text-align: center;
  font-weight: bold;
  font-size: 1.8rem;
  margin: 20px 0;
}

.prizes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.prize-card {
  position: relative;
  backdrop-filter: blur(4px);
  /* background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(42, 171, 237, 1) 39%,
    rgba(209, 0, 255, 1) 96%
  ); */
  background-image: radial-gradient(
    circle 311px at 8.6% 27.9%,
    rgba(62, 147, 252, 0.57) 12.9%,
    rgba(239, 183, 192, 0.44) 91.2%
  );
  /* background-image: linear-gradient(
    64.3deg,
    rgba(254, 122, 152, 0.81) 17.7%,
    rgba(255, 206, 134, 1) 64.7%,
    rgba(172, 253, 163, 0.64) 112.1%
  ); */
  /* background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(201, 227, 231, 1) 0%,
    rgba(123, 203, 237, 1) 90%
  ); */
  /* background-image: linear-gradient(
    108.7deg,
    rgba(221, 22, 224, 1) 11%,
    rgba(111, 22, 190, 1) 88.2%
  ); */
  padding: 15px;
  border-radius: 10px;
  margin: 20px 20px;
  box-shadow: 0 0 20px -15px #ff0505;
  transition: transform 0.8s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto;
  background: transparent;
  border: 10px solid #ffd580;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prize-card:hover {
  transform: scale(1.05);
}

.prize-card:hover .service-logo .imageprof {
  transform: rotate(360deg);
}

h4 {
  font-weight: bold;
  text-align: center;
  font-size: 1.8rem;
}

.prize-heading {
  transform: translateY(0);
  transition: transform 0.3s;
}

.prize-card:hover .prize-heading {
  transform: translateY(-10px);
}

.prize-card:hover {
  animation: neonGlow 1s ease-in-out infinite alternate;
}

@keyframes neonGlow {
  0% {
    box-shadow: 0 0 20px -5px #5737e5, 0 0 20px 5px #4ced4c;
  }
  100% {
    box-shadow: 0 0 20px -5px #766176, 0 0 20px 5px #766176;
  }
}

.prize-card {
  transition: transform 0.5s ease-in-out 0.2s;
}

.prize-heading {
  font-weight: normal;
  text-align: center;
  margin: 5px 0;
}

.service-logo .imageprof {
  position: absolute;
  bottom: 152px;
  background: url("image-full.png") no-repeat center;
  background-size: cover;
  width: 60%;
  height: 70%;
  /* object-fit: contain; */
  transition: transform 1s;
}

.prize-card:nth-child(2) .service-logo {
  border-color: #add8e6;
}

.prize-card:nth-child(3) .service-logo {
  border-color: #ff7f7f;
}

.subheading {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  color: #ffd580;
  margin: 10px 0;
}

@media (max-width: 600px) {
  .prize-card:nth-child(1), .prize-card:nth-child(2) {
    margin-bottom: 100px;
  }
}
