@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
.Sponsorsbody {
  background: url(abstract-futuristic-with-glowing-neon-light-grid-line-pattern-background-technology-style_79161-851.avif);
  background-size: cover; /* Adjust background properties as needed */
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.box-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  /* Adjust the gap value to control the spacing between the boxes */
}
.box1 {
  width: 500px;
  height: 600px;
  position: absolute;
  top: 20%;
  left: 846px;
}
.box1:hover .box-content {
  transform: rotateY(180deg);
}

.box-content {
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.box-back,
.box-front {
  position: absolute;
  border: 10px;
  border-style: none;
  width: 1080px;
  height: 1176px;
  background: linear-gradient(90deg, transparent, transparent);
  backface-visibility: hidden;
  border-radius: 24px;
  box-shadow: 0 25px 45px rgb(0 0 0 / 72%);
  perspective: 1000px;
}
.box-back {
  background: linear-gradient(90deg, rgb(19 16 10), #00000000);
  transform: rotateY(180deg);
}
.box2 {
  top: 20%;
  width: 500px;
  height: 600px;
  position: absolute;
  left: 2000px;
}
.box2:hover .box-content {
  transform: rotateY(180deg);
}

.box-content {
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.box3 {
  width: 500px;
  height: 600px;
  position: absolute;
  left: 3154px;
  top: 20%;
}
.box3:hover .box-content {
  transform: rotateY(180deg);
}

.box-content {
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.box4 {
  left: 4308px;
  width: 500px;
  height: 600px;
  position: absolute;
  top: 20%;
}
.box4:hover .box-content {
  transform: rotateY(180deg);
}

.box-content {
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}
.photo-box {
  height: 983px;
  display: flex;
  justify-content: center;
  position: relative;
  top: 70px;
  left: 109px;
  width: 861px;
  background: white;
  border-radius: 15px;
  transition: preserve-3d;
}
.box-front p {
  position: absolute;
  top: 501px;
  color: white;
  font-weight: bold;
  font-size: 40px;
  left: 143px;
}
.box-back p {
  position: absolute;
  top: 127px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 100px;
  left: 221px;
  justify-content: center;
  display: flex;
}
